# Auto detect text files and perform LF normalization
* text=auto

# // if you are using windows //
# // run sqlc init on your comand prompt //
# // docker pull sqlc/sqlc //
# // docker run --rm -v "%cd%:/src" -w /src sqlc/sqlc generate //