# Auto detect text files and perform LF normalization
* text=auto

# // if you are using windows //
# // run sqlc init on your comand prompt //
# // docker pull sqlc/sqlc //
# // docker run --rm -v "%cd%:/src" -w /src sqlc/sqlc generate //
# // docker run --name simplebank --network bank-network -p 8080:8080 -e GIN_MODE=release -e DB_SOURCE="postgresql://root:password@postgres13:5432/simple_bank?sslmode=disable" simplebank:latest //